<div id="full-screen" style="background-image: url({{background}});">

</div>

<div class="homepage-main">
    <div>
        <div class="col-70">
            <h1>{{truncate artwork.title 40}}</h1>
            <ul>
                <li><strong>Artist: </strong> {{#each artwork.contributors}}<a href="/artist/{{this.id}}">{{this.fc}}</a>{{/each}}</li>
                <li><strong>Medium: </strong>{{artwork.medium}}</li>
                <li><strong>Dimensions: </strong> {{artwork.dimensions}}</li>
                <li><strong>Date: </strong>{{artwork.dateText}}</li>
                <li><strong>Url: </strong><a href="{{artwork.url}}" target="_blank">{{truncate artwork.url 50}}</a></li>
            </ul>
        </div>
        <div class="col-30">
            {{#if artwork.thumbnailUrl}}
                <img src="{{artwork.thumbnailUrl}}" alt="{{artwork.title}}" />
            {{else}}
                <img src="/img/no_image.gif" alt="NO image" />
            {{/if}}
        </div>
        <div class="col-100 credit-line clearfix">
            <p><em>{{artwork.creditLine}}</em></p>
        </div>
        <div class="col-100 clearfix">

        </div>
    </div>
</div>







